[Unit]
Description=MAST Service

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/MAST/bin/mast_core
ExecStop=/bin/bash /opt/MAST/bin/archive_logs

[Install]
WantedBy=basic.target
